# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  gbm,
  dismo,
  beepr,
  mapplots,
  maptools,
  rgdal,
  rgeos,
  raster,
  sf,
  shapefiles,
  stats,
  stringi,
  tidyselect
)
